.CSS_MAIN_MENU {
  width: 270px;
}

.CSS_MENU_VIEW_IN_SEARCH .CSS_MAIN_MENU {
  width: 100%;
}

.CSS_MAIN_MENU_ITEM,
.CSS_MAIN_MENU_ITEM:link,
.CSS_MAIN_MENU_ITEM:visited {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
  background-color: #32394A;
  border-bottom: 1px solid #242A37;
  color: #C4CCDA;
  display: block;
  font-size: 16px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
  white-space: nowrap;
}

.CSS_MAIN_MENU_CAPTION {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
  background: -webkit-gradient(linear, left top, left bottom, from(#434B5C), to(#394152));
  border-bottom: 1px solid #242A37;
  border-top: none;
  color: #7A8292;
  padding-left: 10px;
  font-size: 10px;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.CSS_MAIN_MENU_LINK_ITEM:link,
.CSS_MAIN_MENU_LINK_ITEM:visited {
  padding-bottom: 10px;
  padding-left: 8px;
  padding-top: 10px;
}

.CSS_MAIN_MENU_ICON_ITEM,
.CSS_MAIN_MENU_ICON_ITEM:visited,
.CSS_MAIN_MENU_ICON_ITEM:link {
  display: -webkit-box;
  padding: 4px 6px 0 10px;
}

.CSS_MAIN_MENU_ITEM_TEXT {
  padding: 8px 3px 0 10px;
  white-space: nowrap;
  color: #C4CCDA;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
  width: 97%;
}

.CSS_MAIN_MENU_ITEM_COUNT {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3E485E), color-stop(1, #323A4D));
  border-top: 1px solid #505A63;
  color: #BFC5D2;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin-top: 10px;
  min-width: 11px;
  padding: 1px 3px 3px 4px;
  text-align: center;
}

.CSS_MAIN_MENU_ITEM_START {
  -webkit-box-flex: 1;
}

.CSS_MAIN_MENU_ITEM_START .CSS_ICON {
  background-size: 100% 100%;
  height: 34px;
  width: 34px;
}

.CSS_MAIN_MENU_ITEM_MID {
  -webkit-box-flex: 100;
}

.CSS_MAIN_MENU_ITEM_END {
  -webkit-box-flex: 1;
}

.CSS_MAIN_MENU_FOOTER {
  font-weight: normal;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
  white-space: normal;
}

.CSS_MAIN_MENU_FOOTER .CSS_LINK:link,
.CSS_MAIN_MENU_FOOTER .CSS_LINK:visited {
  color: #C4CCDA;
}

.CSS_MAIN_MENU_ICON_ITEM .news_feed {
  background-image: url(images/ico_news_feed.png);
}

.CSS_MAIN_MENU_ICON_ITEM .messages {
  background-image: url(images/ico_inbox.png);
}

.CSS_MAIN_MENU_ICON_ITEM .places {
  background-image: url(images/ico_places.png);
}

.CSS_MAIN_MENU_ICON_ITEM .events {
  background-image: url(images/ico_events.png);
}

.CSS_MAIN_MENU_ICON_ITEM .friends {
  background-image: url(images/ico_friends.png);
}

.CSS_MAIN_MENU_ICON_ITEM .list {
  background-image: url(images/ico_list.png);
}

.CSS_MAIN_MENU_ICON_ITEM .friends {
  background-image: url(images/ico_photos.png);
}

.CSS_MAIN_MENU_ICON_ITEM .list {
  background-image: url(images/ico_notes.png);
}